._heroBanner_1ceb4_5{padding:4rem 0;text-align:center;position:relative;overflow:hidden}@media screen and (max-width:996px){._heroBanner_1ceb4_5{padding:2rem}}._buttons_1ceb4_17{display:flex;align-items:center;justify-content:center}
